.infos {
  position: absolute;
  top: 6rem;
  right: 2rem;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: .5rem;
  padding: .5rem;
}

.infos span {
  display: flex;
  flex-direction: column;

}

.networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: .5rem;

}

.stations {
  max-height: 70vh;
  min-width: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  overflow-y: auto;
}

.station {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  cursor: pointer;
  transition: all .5s;
}

.station span:nth-of-type(1) {
  font-weight: 600;
}

.station:hover {
  color: gray;
}

@media (max-width: 768px) {
  .infos {
    top: 8rem;
    right: 1rem;

  }

}