.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header__title {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    font-weight: 800
}

.select__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    font-weight: 600;
}

.header__select {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .select__container {
        width: 100%;
    }

}