.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header__input {
    padding: .5rem 2rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
}